includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: 9

    ignoreErrors:
        - '#Cannot call method [a-zA-Z0-9\\_]#'

    treatPhpDocTypesAsCertain: false
